.hero{
   padding: 0px 0px;
   .col-lg-12, .col-md-12{
      padding: 0px;
   }
   #landingSlider{
      .carousel-inner{
         .carousel-item{
            .carousel-caption {
               position: absolute;
               // right: 0;
               bottom: 0;
               left: 10%;
               top: 20%;
               padding-top: 1.25rem;
               padding-bottom: 1.25rem;
               color: #fff;
               text-align: left;
               // margin-left: 30px;
               h1{
                  font-size: 60px;
                  font-weight: 800;
                  font-family: $primary__font;
                  color: $primary__color;
               }
               h3{
                  font-size: 40px;
                  font-weight: 800;
                  font-family: $primary__font;
                  color: $secondary__color;
               }
               p{
                 margin: 0px;
                 line-height: 25px;
                 font-family: $primary__font;
                 font-weight: 500px;
                 font-size: 18px;
                 letter-spacing: .5;
                 color: $secondary__color;
               }
               .main-btn{
                  font-size: 18px;
                  font-weight: 500px;
                  font-family: $secondary__font;
                  margin-top: 30px;
               }
           }
         }
      }
      .carousel-control-next-icon, 
      .carousel-control-prev-icon{
         background-color: $primary__color;
         padding: 10px;
         border-radius: 50%;
         width: 3rem;
         height: 3rem;
         justify-content: center;
         align-items: center;
         display: flex;
         cursor: pointer;
         
         background-image: none;
         &:focus,
         &:hover{
            color: #fff;
            text-decoration: none;
            outline: 0;
            // opacity: 1;
            background-color: $primary__color;
         }
         i{
            font-size: 30px;  
         }
      }
      .carousel-indicators [data-bs-target] {
         width: 20px;
         height: 20px;
         opacity: unset;
         background-color: $secondary__color;
     }
     .carousel-indicators{
        .active{
           background-color: $primary__color;
         //   background-color: blue;
        }
     }
   }
   .hero__contant{
      .text{
         text-align: left;
         h2{
            font-size: 80px;
            color: #b08d8b;
            font-weight: 700;
            font-family: $primary__font
            }

      }
      .btn__tow {
         background: transparent;
         border: 2px solid  $default__color;
         padding: 10px 40px;
         border-radius: 30px;

         a{
            color: $default__color;
            font-size: 18px;
            font-weight: 600;
            background: transparent;
         }
      }
   }
}
